[core]
  repositoryformatversion = 0
[http]
  sslverify = false
[lfs]
  url = http://192.168.56.1:8081/artifactory/api/lfs/gitlfs
[remote "origin"]
  url = https://github.com/feldan/lfs
  fetch = +refs/heads/*:refs/remotes/origin/*
